
@{
    ViewData["Title"] = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Main.css">
    <link rel="stylesheet" href="~/Index.css">
</head>
<body>
    <header>
        <div class="btns-header-block">
            <a href="registration" class="btn-header">
                Регистрация
            </a>
            <a href="signin" class="btn-header">
                Вход
            </a>
        </div>
    </header>
    <div class="main">
        <h1>Накрутка зрителей, лайков, дизлайков, подписчиков, и чат под одной коробкой!</h1>
        <img src="~/img/soft.png" class="center-block" />
        <h1>Возможности софта</h1>
        <div>
            <p>TODO: Написать красивый текст</p>
        </div>
        <h1>Режимы и цена</h1>
        <div>
            <p>На данный момент есть 5 режимов: </p>
            <ul>
                <li>Накрутка зрителей - 1500$</li>
                <li>Накрутка лайков - 1000$</li>
                <li>Накрутка дизлайков - 1500$</li>
                <li>Накрутка подписчиков - 1000$</li>
                <li>Спам по чату - 1000$</li>
            </ul>
            <p>Вне зависимости от режимов, вы должны оплачивать ежемесячно плату в 70$, для продление лицензии.</p>
        </div>
    </div>
</body>
</html>