@page
@model BoostStreamServer.Areas.Identity.Pages.Account.Manage.IndexModel
@{
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sl-6 col-ml-6 col-lg-6 col-xl-6">
            <img src="~/img/softImage.jpg" style="width: 100%" />
        </div>
        <div class="container col-xs-6 col-sl-6 col-ml-6 col-lg-6 col-xl-6">
            <h3 class="">Boost Stream</h3>
            <p class="lead">Софт для накрутки зрителей, лайков, дизлайков, подписчиков, чата на YouTube, а так же накрутка зрителей, подписчиков и чат на Twitch. Работает на куках.</p>
            <p class="text-warning font-weight-bold">До окончании лицензии осталось 5 дней</p>
            <a href="#" class="mb-2">
                <button type="button" class="btn btn-primary">Продлить лицензию</button>
            </a>
            <a href="#" class="">
                <button type="button" class="btn btn-primary">Скачать</button>
            </a>
        </div>
    </div>
</div>
